<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>current and future series</title>
    <link rel="stylesheet" href="../CSS/series.css">
</head>

<body>
    <div id="series-results">
        <div class="match">
            <div class="image">
                <img src="../images/babar.png" alt="">
            </div>
            <div class="teams">
                <h1>PAK vs SA</h1>
                <h2>( 1st ODI )</h2>
                <img class="toggleClass unrotate" src="../images/DDY.png" alt="">
            </div>

            <!-- All result container -->
            <div class="result">
                <h1>PAK won the toss and elected to bat first. PAK won by 34 runs (Pakistan leading the series 1-0)</h1>

                <!-- Batting status -->
                <div class="status">
                    <div class="bat_bowl_background"><h1>Batting</h1></div>
                    
                    <div class="both_teams">

                        <!-- Team 1 batting status -->
                        <div class="team">
                            <h1 class="team1_name">PAKISTAN</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Players</th>
                                        <th>Scores</th>
                                        <th>Balls</th>
                                        <th>Sixes</th>
                                        <th>Fours</th>
                                        <th>SR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Bhidi</td>
                                        <td>57</td>
                                        <td>45</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>126.6</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr class="total_score">
                                        <td colspan="2">TOTAL: </td>
                                        <td colspan="4">320-6 (50 Overs)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Team 2 batting status -->
                        <div class="team">
                            <h1 class="team2_name">SOUTH AFRICA</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Players</th>
                                        <th>Scores</th>
                                        <th>Balls</th>
                                        <th>Sixes</th>
                                        <th>Fours</th>
                                        <th>SR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Bhidi</td>
                                        <td>57</td>
                                        <td>45</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>126.6</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Parda</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>200</td>
                                    </tr>
                                     <tr class="total_score">
                                        <td colspan="2">TOTAL: </td>
                                        <td colspan="4">286-10 (48.5 Overs)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!-- Bowling status -->
                <div class="status">
                   <div class="bat_bowl_background"><h1>Bowling</h1></div>
                    <div class="both_teams">

                        <!-- Team 1 bowling status -->
                        <div class="team">
                            <h1 class="team1_name">PAKISTAN</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Players</th>
                                        <th>Overs</th>
                                        <th>Wickets</th>
                                        <th>Runs</th>
                                        <th>Economy</th> <!--Economy rate = (Runs/Balls)*6-->
                                        <th>Maiden</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jheend</td>
                                        <td>9.4</td>
                                        <td>6</td>
                                        <td>35</td>
                                        <td>3.6</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Maseroye</td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td>60</td>
                                        <td>6.0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Jheend</td>
                                        <td>9.4</td>
                                        <td>6</td>
                                        <td>35</td>
                                        <td>3.6</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Maseroye</td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td>60</td>
                                        <td>6.0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Jheend</td>
                                        <td>9.4</td>
                                        <td>6</td>
                                        <td>35</td>
                                        <td>3.6</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Maseroye</td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td>60</td>
                                        <td>6.0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Team 2 bowling status -->
                        <div class="team">
                            <h1 class="team2_name">SOUTH AFRICA</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Players</th>
                                        <th>Overs</th>
                                        <th>Wickets</th>
                                        <th>Runs</th>
                                        <th>Economy</th> <!--Economy rate = (Runs/Balls)*6-->
                                        <th>Maiden</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jheend</td>
                                        <td>9.4</td>
                                        <td>6</td>
                                        <td>35</td>
                                        <td>3.6</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Maseroye</td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td>60</td>
                                        <td>6.0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Jheend</td>
                                        <td>9.4</td>
                                        <td>6</td>
                                        <td>35</td>
                                        <td>3.6</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Maseroye</td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td>60</td>
                                        <td>6.0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Jheend</td>
                                        <td>9.4</td>
                                        <td>6</td>
                                        <td>35</td>
                                        <td>3.6</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Maseroye</td>
                                        <td>10</td>
                                        <td>1</td>
                                        <td>60</td>
                                        <td>6.0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const toggleBtn = document.querySelector(".toggleClass")
        const matchResult = document.querySelector(".result")
        toggleBtn.addEventListener('click', ()=>{
            if(matchResult.style.display != 'flex'){
                toggleBtn.classList.add('rotate')
                toggleBtn.classList.remove('unrotate')
                matchResult.style.display = 'flex';
            }else{
                toggleBtn.classList.add('unrotate')
                toggleBtn.classList.remove('rotate')
                matchResult.style.display = 'none';
            }
        })
    </script>
</body>

</html>