<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belli Cricket Board</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/png">

    <link rel="stylesheet" href="../CSS/cricket.css">
    <link rel="stylesheet" media="screen and (max-width: 521px)" href="../CSS/BCBMobile.css">

</head>

<body>
    <div class="socialbar">
        <div id="ham-icon" class="hamburger"><img src="../images/HB.png" alt=""></div>
        <div class="social-container">
            <div class="social-icons">
                <a href=""><img src="../images/fb.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/wap.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/tk.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/twt.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/in.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/int.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/ytb.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/snp.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/msg.png" alt=""></a>
            </div>
            <div class="social-icons">
                <a href=""><img src="../images/teams.png" alt=""></a>
            </div>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Search..">
            <button type="submit" id="btn">Search</button>
        </div>
    </div>
    <div class="header">
    
    </div>
    <div class="navbar">
        <a href="/" class="fonts">HOME</a>
        <a href="404.html" class="fonts">LATEST</a>
        <a href="404.html" class="fonts">NCA</a>
        <a href="404.html" class="fonts">DOCUMENTS</a>
        <a href="404.html" class="fonts">SQUADS</a>
        <a href="404.html" class="fonts">CURRENT & FUTURE SERIES</a>
        <a href="404.html" class="fonts">PLAYERS</a>
        <a href="404.html" class="fonts">BCB HALL OF FAME</a>
        <a href="404.html" class="fonts">BCB AWARDS</a>
        <a href="404.html" class="fonts">APPLY AS CAPTAIN</a>
    </div>
<div id="whole-background">
    <section class="middle">
        <div class="latest">
            <div class="heading">
                <a href="#" class="fonts">Top stories</a>
            </div>
            <div>
                <div class="story">
                    <div class="story-image">
                        <img src="../images/babar.png" alt="">
                    </div>
                    <a href="/updates">Description of story</a>
                </div>
                <div class="story">
                    <div class="story-image">
                        <img src="../images/billu.jpg" alt="">
                    </div>
                    <a href="">Description of story</a>
                </div>
                <div class="story">
                    <div class="story-image">
                        <img src="../images/micky.png" alt="">
                    </div>
                    <a href="">Description of story</a>
                </div>
            </div>
        </div>

        <div class="seriese-results">
            <div class="heading">
                <a href="#" class="fonts">Series results</a>
            </div>
            <div class="results-container">
                <div class="series-image">
                    <img src="../images/bhidi.jpg" alt="">
                </div>
                <div class="result">
                    <h1>PAK vs NZ (1st ODI)</h1>
                    <h2>PAK Won by 12 runs</h2>
                    <a href="#">See details</a>
                </div>
            </div>
            <div class="results-container">
                <div class="series-image">
                    <img src="../images/ghamma.jpg" alt="">
                </div>
                <div class="result">
                    <h1>PAK vs NZ (2nd ODI)</h1>
                    <h2>NZ won by 2 wickets</h2>
                    <a href="#">See details</a>
                </div>
            </div>
            <div class="results-container">
                <div class="series-image">
                    <img src="../images/header-bcb.jpg" alt="">
                </div>
                <div class="result">
                    <h1>PAK vs NZ (3rd ODI)</h1>
                    <h2>NZ won by 6 wickets</h2>
                    <a href="#">See details</a>
                </div>
            </div>
        </div>

        <div class="related-content">
            <div class="heading">
                <a href="#" class="fonts">Related content</a>
            </div>
            <div class="content-container">
                <div class="content-image">
                    <img src="../images/open-ceremony.png" alt="">
                </div>
                <a href="">Description for content</a>
            </div>
            <div class="content-container">
                <div class="content-image">
                    <img src="../images/shakir.jpg" alt="">
                </div>
                <a href="">Description for content</a>
            </div>
            <div class="content-container">
                <div class="content-image">
                    <img src="../images/rizo_hajj.png" alt="">
                </div>
                <a href="">Description for content</a>
            </div>
        </div>

    </section>
    <div class="comment_partner_section">
        <section class="partners">
            <div class="heading">
                <h1 class="fonts">Commercial Partners</h1>
            </div>
            <h1 class="sponsor-heading fonts">BELLILAND MEN'S NATIONAL TEAM:</h1>
            <div class="companies">
                <div class="icon">
                    <img src="../images/Donal.png" alt="">
                </div>
                <div class="icon">
                    <img src="../images/easypaisa.jpg" alt="">
                </div>
                <div class="icon">
                    <img src="../images/Oreo.png" alt="">
                </div>
                <div class="icon">
                    <img src="../images/Pepsi.png" alt="">
                </div>
            </div>
            <hr>
            <h1 class="sponsor-heading fonts">BROADCAST AND LIVESTREAMING PARTNERS:</h1>
            <div class="companies">
                <div class="icon">
                    <img src="../images/SKY.png" alt="">
                </div>
                <div class="icon">
                    <img src="../images/tapmad.png" alt="">
                </div>
                <div class="icon">
                    <img src="../images/star.png" alt="">
                </div>
            </div>
            <hr>
            <h1 class="sponsor-heading fonts">PATHWAY CRICKET PROGRAM:</h1>
            <div class="companies">
                <div class="icon">
                    <img src="../images/olper.png" alt="">
                </div>
                <div class="icon">
                    <img src="../images/Pepsico.png" alt="">
                </div>
                <div class="icon">
                    <img src="../images/Knorr.png" alt="">
                </div>
            </div>
        </section>

        <section class="comment-section">
            <div class="heading">
                <h1 class="fonts">Place Comments Here.</h1>
            </div>
            <form action="/" id="form-container" method="post">
                <div class="field-box">
                    <div class="label-container">
                        <label for="name">Name</label>
                        <h1>*</h1>
                    </div>
                    <input type="text" id="name" name="name" placeholder="Enter Your Name" required>

                </div>
                <div class="field-box">
                    <div class="label-container">
                        <label for="email">Email</label>
                        <h1>*</h1>
                    </div>
                    <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
                </div>
                <div class="field-box">
                    <div class="label-container">
                        <label for="country">Country</label>
                        <h1>*</h1>
                    </div>
                    <input type="text" id="country" name="country" placeholder="Enter Your Country Name" required>
                </div>
                <div class="field-box">
                    <div class="label-container">
                        <label for="comment">Comment</label>
                        <h1>*</h1>
                    </div>
                    <input type="text" id="comment" name="comment" placeholder="Enter Your Comment" required>
                </div>
                <div class="button_box">
                    <button id="submit-btn" type="submit">Submit</button>
                    <a href="#placed_comment">See Comments</a>
                </div>
            </form>
        </section>

        <section id="placed_comment">
            <div class="heading">
                <h1 class="fonts">Previous Comments</h1>
            </div>
           
            <div class="Pcomment_contain">
                <div class="id">
                    <div class="image">
                        <img src="../images/user.png" alt="">
                    </div>
                    <div class="user-name">
                        <h1>Waqas Bhatti</h1>
                    </div>
                </div>
                <p>I am big fan of bhidi, the real GOAT BHIDI.
                </p>
            </div>
        </section>
    </div>
</div>
    <section class="above-footer">
        <div class="properties">
            <h2 class="fonts">LATEST</h2>
            <a href="404.html">Media Release</a>
            <a href="404.html">Match Reports</a>
            <a href="404.html">Features</a>
        </div>
        <div class="properties">
            <h2 class="fonts">MULTIMEDIA</h2>
            <a href="404.html">Podcasts</a>
            <a href="404.html">Photos</a>
            <a href="404.html">Videos</a>
        </div>
        <div class="properties different">
            <h2 class="fonts">BCB ADS</h2>
            <a href="404.html">Career Opportunity</a>
            <a href="404.html">Career Archieves</a>
            <a href="404.html">Current Adds</a>
            <!-- <a href="404.html">Adds Archieves</a> -->
        </div>
        <div class="properties">
            <h2 class="fonts">ABOUT BCB</h2>
            <a href="404.html">Contact Us</a>
            <a href="404.html">FAQs</a>
            <a href="404.html">Complain Us</a>
        </div>
    </section>

    <footer class="footer">
        <p class="fonts">All rights reserved by BELLILAND CRICKET TEAM &copy; 2025</p>
        <div class="footer-links">
            <a href="404.html" class="fonts">Disclamer</a>
            <a href="404.html" class="fonts">Terms & Conditions</a>
            <a href="404.html" class="fonts">Privacy Statement</a>
        </div>
    </footer>
    <script src="../templates/cricket.js"></script>
</body>

</html>