<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
       <img id="img" src="file:///F:/Courses/Icons/jhunior.jpg" alt="" width="20%">
        <h2>Login In to Belliland <br> Cricket Team Official Website</h2>
        <form id="signin-form" method="post">
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <h5>Don't have an account?<a href="./Signin_Window.html">Sign In</a></h5>
            <button type="submit">Log In</button>
        </form>
        
        
    </div>
    <script src="loginin.js"></script>
</body>
</html>
